body{
    background-color: greenyellow
}

.movieReview1 h2{
    background-color: black;
    color: thistle
}
.movieReview4 h2{
    background-color: black;
    color: thistle
}
.movieReview1 h1{
    background-color: black;
    color: thistle
}
.movieReview3 h2, .movieReview5 h2{
    background-color: black;
    color: thistle
}
.movieReview5 h2{
    background-color: black;
    color: thistle
}